.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ROOMMATE APP COMPONENTS */

#headerComponent{
  height:150px;
  background-color: olivedrab;
  padding:10px;
  text-align:left;
}

#listingsComponent{
  display:flex;
  flex-flow:row wrap;
  margin:75px;
}

#cardObj{
  margin:30px;
}

#roomTitle{
  color:white;
  padding:20px;
  font-size:45px;
}

#profileBtn{
  float:right;
  padding:50px;
}

/* CARD FOR LISTING */

.card {
  /* Add shadows to create the "card" effect */
  margin-left: left;
  margin-right: auto;
  width: 520px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  padding: 40px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  width:450px;
}

/* LIST FOR MENU BAR */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;

}

li a {
  
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li:hover {
  background-color: #111;
}

#isSelected {
  background-color: #111;
}

*, *:before, *:after{ 
  box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
} 
.bookmark{ 
  position: relative; 
  height: 30px; 
  width: 10px; 
  padding: 0px; 
  border-left: 5px solid red; 
  border-right: 5px solid red; 
  border-bottom: 5px solid transparent; 
}

.bookmarkEmpty{ 
  position: relative; 
  height: 30px; 
  width: 10px; 
  padding: 0px; 
  border-left: 5px solid black; 
  border-right: 5px solid black; 
  border-bottom: 5px solid transparent; 
}

/* big card for listing container */

.cardListing {
  /* Add shadows to create the "card" effect */
  margin:50px;
  margin-left: left;
  margin-right: auto;
  width: 1300px;
  height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  padding: 40px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.containerImage {
  padding: 2px 16px;
  width:600px;
  float:left;
}

.containerText {
  padding: 2px 16px;
  width:450px;
  float:right;
}

#loginPage{
  height:700px;
  background-color: white;
}

#loginText{
  font-weight: bold;
  margin:50px;
}